body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Cabin;
  color: rgb(255, 255, 255);
}

.container {
  float: left;
}

.container .container {
  position: relative;
}

.element {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 51px;
  background-color: rgb(184, 93, 105);
}

.element-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 210px;
  height: 548px;
  background-color: rgb(38, 38, 38);
}

.image {
  display: block;
  position: absolute;
  height: auto;
  overflow: hidden;
}

.text {
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.container-1 {
  width: 100%;
  height: 554px;
  margin-top: -6px;
}

.container-2 {
  width: 65.625%;
  height: 548px;
  margin: 6px 0 0 -210px;
}

.container-3 {
  width: 100%;
  -webkit-transition: all .3s;
}

.image-1 {
  top: 17px;
  right: 5%;
  z-index: 3;
  width: 21px;
}

.image-2 {
  top: 15px;
  left: 5%;
  z-index: 2;
  width: 20px;
}

.text-1 {
  position: relative;
  z-index: 6;
  margin: 35px auto 0;
  font-weight: 400;
  letter-spacing: 3px;
}

.text-2 {
  position: relative;
  z-index: 7;
  margin: 30px auto 0;
  font-weight: 400;
  letter-spacing: 3px;
}

.text-3 {
  position: relative;
  z-index: 8;
  margin: 30px auto 0;
  font-weight: 400;
  letter-spacing: 3px;
}

.text-4 {
  position: relative;
  z-index: 9;
  margin: 34px auto 0;
  font-weight: 400;
  letter-spacing: 3px;
}

.text-5 {
  position: relative;
  z-index: 10;
  margin: 30px auto 0;
  font-weight: 400;
  letter-spacing: 3px;
}

.text-6 {
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  font: 700 1.25em 'PT Sans Caption';
  letter-spacing: 4px;
}